*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
header{
    background-color: #0625085e;
    min-height: 70px;
    padding: 15px;
}
main{
    background-color: #dddddd;
    min-height: 300px;
    padding: 7.5px 15px;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

}
h1{
    color: #000000;
    font-size: 60px;
    margin-bottom: 30px;
    text-align: center;
}
h2{
    color: #14a310;
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    
}
.input-box{
    margin-bottom: 10px;
}
.input-box input{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc11;
    outline: none;
}
.btn-box{
    text-align: right;
    margin-top: 30px;
    color: black;
    
}
.btn-box button{
    padding: 7.5px 15px;
    border-radius: 2px;
    background-color: rgb(225, 252, 252);
    color: #000000;
    border: none;
    outline: none;
    font-size: large;
    
}
